#wizard {
    width: 800px;
    margin-left: -400px;
}

#wizard .modal-body {
    min-height: 680px;
    padding: 0;
}

#wizard .menu {
    width: 140px;
    height: 680px;
    background-color: #f5f5f5;
    position: fixed;
}

#wizard .menu ul li.active {
    background-color: #08C;
}

#wizard .menu ul li a {
    padding: 3px 15px 3px 20px;
    line-height: 40px;
}

#wizard .menu ul li.active a {
    color: white;
}

#wizard .menu ul li a .icon-chevron-right  {
    float: right;
    margin-top: 12px;
    margin-right: -6px;
    opacity: .25;
}

#wizard .menu ul li.active a .icon-chevron-right {
    opacity: 1;
}

#wizard .wizard-content {
    margin-left: 140px;
    padding: 20px 35px 35px 35px;
}

/*#wizard .wizard-content control-group:before{*/
    /*display: block !important;*/
/*}*/

#wizard .error-message {
    position: absolute;
    top: 7px;
    right: 20px;
}

#wizard .wizard-content .control-group.error .error {
    color: #B94A48;
    float: left;
    width: 400px;
    text-align: right;
    font-style: italic;
    font-size: 0.8rem;
    position: fixed;
}

#wizard .wizard-content .control-group.disabled label {
    color: rgba(0, 0, 0, 0.3);
}

#wizard .wizard-content .wan-placeholder {
    height: 175px;
}
